@import "../../../sass/abstracts/variables";
@import "../../../sass/abstracts/mixins";

.NavigationItem {
    @include center;
    &__Link {
        & span {
            font-size: 1.3rem;
            text-transform: uppercase;
            @include responsive(479, 0) {
                font-size: 1.1rem;
            }
        }
        font-size: 2.1rem;
        @include responsive(479, 0) {
            font-size: 1.8rem;
        }
        font-weight: 400;
        text-decoration: none;
        @include center;
        flex-flow: column;
        color: $color-foreground;
        width: 15rem;
        height: 80%;
        outline: none;
        @include responsive(767, 0) {
            width: 100%;
            height: 100%;
        }
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        &:hover {
            background-color: $color-light;
            @include responsive(768, 1) {
                @include rounded(10rem);
            }
        }

        &:active {
            background-color: rgba($color-primary, 0.3);
        }
    }

    &__Active {
        color: $color-primary;
    }
}
