$color-background: #f4f4f4;
$color-white: #fff;
$color-light: #f8f8f8;
$color-black: #000;
$color-foreground: #111;

$color-primary-light: #f75656;
$color-primary: #9d0208;
$color-muted: rgba($color-black, 0.75);

// $shadow: 0px 1px 2px 3px rgba($color-foreground, 0.1);
$shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
