@import "../../../sass/abstracts/mixins";
@import "../../../sass/abstracts/variables";

.Payment {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    place-items: center;
    & li {
        & figure {
            @include rounded(100%);
            width: 20rem;
            box-shadow: $shadow;
            overflow: hidden;
        }
    }
}
