@import "../../../sass/abstracts/mixins";
@import "../../../sass/abstracts/variables";

.Payment {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    gap: 2rem;
    place-content: center;
    & li {
        & figure {
            @include rounded(100%);
            box-shadow: $shadow;
            overflow: hidden;
        }
    }
}
