@import "../../../sass/abstracts/variables";
@import "../../../sass/abstracts/mixins";
.Button {
    text-decoration: none;
    background-color: $color-primary;
    color: $color-background;
    padding: 1rem 2rem;
    display: inline-block;
    font-size: 1.6rem;
    font-family: "Libre Franklin";
    border-radius: 0.5rem;
    @include rounded(0.5rem);
    box-shadow: $shadow;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    border: none;
    cursor: pointer;
    outline: none;
    &:hover {
        color: $color-primary-light;
    }

    &_Disable {
        background-color: rgba($color-muted, 0.1);
        box-shadow: $shadow;
        cursor: not-allowed;
        color: $color-foreground;
        &:hover {
            color: $color-foreground;
        }
    }
}
