@import "../../../sass/abstracts/mixins";
@import "../../../sass/abstracts/variables";
.Info {
    & figure {
        width: 30rem;
        margin: -2rem auto -3rem;
    }

    & ul {
        @include center;
        gap: 1rem;
        & li {
            font-size: 4rem;

            & a{
                color: $color-primary;
            }
        }
    }
}
