@import "../../../sass/abstracts/mixins";
@import "../../../sass/abstracts/variables";
.Footer {
    padding: 1rem 2rem 0;

    margin: auto;
    margin-top: 1rem;
    width: 100%;
    max-width: 128rem;
}
