@import "../abstracts/variables";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: $color-background;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
::selection {
    background-color: $color-primary;
    color: $color-background;
}
