@import "../../sass/abstracts/mixins";
@import "../../sass/abstracts/variables";
.Home {
    padding: 1rem 2rem 11rem;
    width: 100%;
    max-width: 80rem;
    margin: auto;
    @include responsive(575, 0) {
        padding: 1rem 0.5rem 11rem;
    }
}
