@import "../../sass/abstracts/mixins";
@import "../../sass/abstracts/variables";
.Home {
    padding: 1.5rem 2rem 10rem;
    width: 100%;
    max-width: 128rem;

    margin: auto;
    @include responsive(575, 0) {
        padding: 1rem 1rem 10rem;
    }

    & article {
        background-color: $color-white;
        padding: 2rem;
        @include rounded(1rem);
        margin-top: 1.5rem;
        box-shadow: $shadow;

        & h1 {
            font-size: 3rem;
            font-weight: 900;
            line-height: 1;
        }
    }
}
