@import "../../../sass/abstracts/variables";
@import "../../../sass/abstracts/mixins";
.Notification {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: $shadow;
    & h3,
    p {
        color: $color-background;
    }
    & h3 {
        font-size: 2rem;
        @include responsive(575, 0) {
            line-height: 1.2;
        }
    }
    & p {
        font-size: 1.5rem;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 100;

    padding: 2rem;

    @include responsive(575, 0) {
        flex-direction: column;
    }
}
.pending {
    background-color: #0078ff;
}
.success {
    background-color: #10be58;
}
.error {
    background-color: #e65035;
}
