@import "../../../sass/abstracts/variables";
@import "../../../sass/abstracts/mixins";

.Table {
    width: 100%;
    margin-top: 1rem;
    @include background;
    border-collapse: collapse;
    & thead {
        text-align: left;

        & tr {
            border-bottom: 0.7rem solid $color-background;
        }
    }
    & tbody {
        & tr:not(:last-child) {
            border-bottom: 0.7rem solid $color-background;
        }
    }

    & th,
    & td {
        padding: 1.5rem 1rem;
    }
    & th {
        font-size: 1.5rem;
        color: $color-primary;
    }
    & td {
        font-size: 1.5rem;
        color: $color-muted;
        @include responsive(575, 0) {
            font-size: 1.4rem;
        }
    }
}
