@import "../../sass/abstracts/mixins";
@import "../../sass/abstracts/variables";
.Contact {
    padding: 5.5rem 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    @include responsive(767, 0) {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        padding: 1rem 1rem 11rem;
    }
}
