@import "../../sass/abstracts/mixins";
@import "../../sass/abstracts/variables";
.Contact {
    padding: 3rem 1rem 12rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    @include responsive(767, 0) {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        padding: 1rem 1rem 12rem;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .Contact {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        padding: 1rem 1rem 12rem;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
    .Contact {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        padding: 1rem 1rem 12rem;
    }
}
