@import "../../../sass/abstracts/variables";
@import "../../../sass/abstracts/mixins";
.FormElement {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0;

    &_Radio {
        flex-direction: row;
        align-items: center;
    }
    & label {
        font-size: 1.7rem;
        color: $color-muted;
        font-weight: 700;
    }
    %input {
        border: none;
        border-bottom: 1px solid $color-background;
        padding: 1rem 0;
        outline: none;
        font-size: 1.6rem;
        font-family: inherit;
        color: $color-muted;
    }
    & input,
    textarea {
        @extend %input;
    }

    & input:focus,
    & textarea:focus {
        border-bottom: 1px solid $color-primary;
    }

    & textarea {
        padding: 1rem 0 0;
    }
    & span {
        font-size: 1.4rem;
        color: $color-muted;
        margin-top: 0.5rem;
        color: $color-primary;
    }

    &_Valid {
        border-bottom: 1px solid $color-valid !important;
    }
    &_Invalid {
        border-bottom: 1px solid $color-primary !important;
    }
}
