@import "../../../sass/abstracts/mixins";
@import "../../../sass/abstracts/variables";
.Story {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 2rem;
    & li {
        box-shadow: $shadow;
        background-color: $color-white;
        @include rounded(1rem);
        overflow: hidden;
        & figure {
            width: 100%;
            max-height: 30rem;
            overflow: hidden;
            & img {
                object-fit: cover;
            }
        }
    }
}
