@import "../../../sass/abstracts/mixins";
@import "../../../sass/abstracts/variables";
.Story {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    place-content: center;
    gap: 1.5rem;
    & li {
        // width: 30rem;
        box-shadow: $shadow;
        background-color: $color-white;
        @include rounded(1rem);
        overflow: hidden;
    }
    &__Image {
        width: 100%;
        max-height: 30rem;
        overflow: hidden;
        & img {
            object-fit: cover;
        }
    }
    &__Content {
        padding: 1rem;
    }
}
