@import "../../../sass/abstracts/mixins";
@import "../../../sass/abstracts/variables";

.Strategy {
    padding: 1rem 0 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;

    & li {
        @include background;
        padding: 2rem 0rem;
    }

    & i {
        font-size: 5rem;
        margin-bottom: 1rem;
        color: $color-primary;
    }
}
