@import "../../../sass/abstracts/variables";
.Paragraph {
    font-size: 1.5rem;
    line-height: 1.8;
    color: $color-muted;
    text-align: center;
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1rem 1rem;
}
