@import "../../sass/abstracts/mixins";
@import "../../sass/abstracts/variables";

.Donation {
    padding: 1rem 1rem 12rem;
    &__Grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin: 1rem 0;

        @include responsive(767, 0) {
            grid-template-columns: 1fr;
        }
    }
}
