@import "../../sass/abstracts/mixins";
@import "../../sass/abstracts/variables";

.Donation {
    padding: 1rem 1rem 12rem;
    width: 100%;
    max-width: 114rem;
    margin: 0 auto;

    &__Grid {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;

        @include responsive(785, 0) {
            flex-flow: column;
        }
    }
}
