@import "../../sass/abstracts/mixins";
@import "../../sass/abstracts/variables";

.Donation {
    padding: 1rem 1rem 12rem;
    &__Grid {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        margin: 1rem 0;

        @include responsive(767, 0) {
            flex-flow: column;
        }
    }
}
