@import "../../sass/abstracts/mixins";
@import "../../sass/abstracts/variables";

.About {
    flex-direction: column;
    text-align: center;
    padding: 0 1rem 12rem;

    & div {
        @include center;
    }
    &__Figure {
        width: 20rem;
        overflow: hidden;
        @include rounded(100%);
        box-shadow: $shadow;
        &__Image {
            object-fit: cover;
        }
    }
}
