@import "../../../sass/abstracts/mixins";
@import "../../../sass/abstracts/variables";
.Form {
    padding: 2rem;
    @include background;

    & h1 {
        font-size: 3rem;
        font-weight: 900;
        color: $color-muted;
    }

    &__Grid {
        display: flex;
        margin: 1rem 0 0;
        align-items: center;

        & div:last-child {
            margin-left: 1rem;
        }
    }

    &__Btn {
        padding: 1rem 0;
        display: flex;
        justify-content: flex-start;
    }
}
